{% extends 'base.html'%}

{% block content  %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar/Ver Muestras</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f8f8;
            padding: 20px;
        }
        h1 {
            margin-bottom: 20px;
        }
        .filter-box {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            margin-bottom: 20px;
            display: block; 
            width: 100%; 
        }
        
        .filter-section {
            width: 48%; 
            float: left; 
            margin-right: 2%;
        }
        
        /* Limpiar el float después de las secciones */
        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }
        .form-group {
            margin-bottom: 15px;
        }
        label {
            display: block;
            margin-bottom: 5px;
        }
        input, select {
            width: 75%; 
            padding: 10px; 
            box-sizing: border-box;
            margin-bottom: 10px; 
        }
        .samples-list {
            width: 100%;
            margin-top: 30px;
        }
        
        button {
            background-color: #4F709C;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 20px; 
        }
        button:hover {
            background-color: rgb(79, 100, 150);
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        table, th, td {
            border: 1px solid #ddd;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #4F709C;
            color: white;
        }
    </style>
</head>
<body>
    <h1>Editar/Ver Muestras</h1>
    
    <div class="filter-box clearfix">
        <form action="/sample_list" method="GET">
            <!-- Filtros de Muestra -->
            <div class="filter-section">
                <h2>Filtros de Muestra</h2>
                <div class="form-group">
                    <label for="subject_id">ID Sujeto:</label>
                    <input type="text" id="subject_id" name="subject_id">
                </div>
                <div class="form-group">
                    <label for="sample_date">Fecha de Obtención:</label>
                    <input type="date" id="sample_date" name="sample_date">
                </div>
                <div class="form-group">
                    <label for="sample_id">ID muestra:</label>
                    <input type="number" id="sample_id" name="sample_id">
                </div>
            </div>
            <!-- Filtros de Ubicación -->
            <div class="filter-section">
                <h2>Filtros de Ubicación</h2>
                <div>
                    <label for="freezer_id">Freezer:</label>
                    <select name="freezer_number">
                        <option value="">--Seleccionar espacio--</option> <!-- Opción vacía por defecto -->
                        {% for storage in storages %}
                            {% if storage.STORAGE_TYPE_id_storagetype.name_storagetype == 3 %}
                                <option value="{{ storage.storage_name }}">{{ storage.storage_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div>
                    <label for="rack_id">Rack:</label>
                    <select name="rack_number">
                        <option value="">--Seleccionar espacio--</option> <!-- Opción vacía por defecto -->
                        {% for storage in storages %}
                            {% if storage.STORAGE_TYPE_id_storagetype.name_storagetype == 2 %}
                                <option value="{{ storage.storage_name }}">{{ storage.storage_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div>
                    <label for="caja_id">Caja:</label>
                    <select name="box_number">
                        <option value="">--Seleccionar espacio--</option> <!-- Opción vacía por defecto -->
                        {% for storage in storages %}
                            {% if storage.STORAGE_TYPE_id_storagetype.name_storagetype == 1 %}
                                <option value="{{ storage.storage_name }}">{{ storage.storage_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div>
                    <label for="cell">Celda:</label>
                    <input type="number" name="cell" placeholder="?" min="0">
                </div>
                <button type="submit">Buscar</button>
            </div>
            
        </form>
    
    <div class="samples-list">
        <h2>Lista de Muestras</h2>
        <table>
            <thead>
                <tr>
                    <th>ID Sujeto</th>
                    <th>Fecha de Obtención</th>
                    <th>Número de Muestra</th>
                    <th>Volumen (ml)</th>
                    <th>Estado de Preservación</th>
                    <th>Freezer Nro</th>
                    <th>Rack Nro</th>
                    <th>Caja Nro</th>
                    <th>Celda Nro</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for sample in samples %}
                <tr data-sample-id="{{ sample.id }}" data-editing="false">
                    <td>{{ sample.id_subject }}</td>
                    <td>{{ sample.date_sample }}</td>
                    <td>{{ sample.id_sample }}</td>
                    <td>{{ sample.ml_volume }}</td>
                    <td>
                        <span class="preservation-display">{% if sample.state_preservation %}Descongelado{% else %}Normal{% endif %}</span>
                        <select class="preservation-select" style="display:none;">
                            <option value="0" {% if not sample.state_preservation %}selected{% endif %}>Normal</option>
                            <option value="1" {% if sample.state_preservation %}selected{% endif %}>Descongelado</option>
                        </select>
                    </td>
                    <td>
                        <span class="freezer-display">{{ sample.freezer_name }}</span>
                        <select name="freezer_id" class="freezer-select" style="display:none;">
                            {% for storage in storages %}
                            {% if storage.STORAGE_TYPE_id_storagetype.name_storagetype == 3 %}
                            <option value="{{ storage.id_storage }}" {% if storage.id_storage == sample.freezer_id %}selected{% endif %}>{{ storage.storage_name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </td>
            
                    <!-- Rack -->
                    <td>
                        <span class="rack-display">{{ sample.rack_name }}</span>
                        <select name="rack_id" class="rack-select" style="display:none;">
                            {% for storage in storages %}
                            {% if storage.STORAGE_TYPE_id_storagetype.name_storagetype == 2 %}
                            <option value="{{ storage.id_storage }}" {% if storage.id_storage == sample.rack_id %}selected{% endif %}>{{ storage.storage_name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </td>
            
                    <!-- Box -->
                    <td>
                        <span class="box-display">{{ sample.box_name }}</span>
                        <select name="box_id" class="box-select" style="display:none;">
                            {% for storage in storages %}
                            {% if storage.STORAGE_TYPE_id_storagetype.name_storagetype == 1 %}
                            <option value="{{ storage.id_storage }}" {% if storage.id_storage == sample.box_id %}selected{% endif %}>{{ storage.storage_name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </td>
            
                    <!-- Celda -->
                    <td>
                        <span class="cell-display">{{ sample.location_set.first.cell }}</span>
                        <input type="number" name="cell" class="cell-input" value="{{ sample.location_set.first.cell }}" style="display:none;">
                    </td>
            
                    <!-- Botones de acción -->
                    <td>
                        <button class="edit-btn">Editar</button>
                        <button class="save-btn" data-sample-id="{{ sample.id_sample }}" onclick="guardar(this)">Guardar</button>
                        <button class="eliminar-btn" onclick="eliminar(this)">Eliminar</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function debugLog(message) {
        console.log(`DEBUG: ${message}`);
    }

    function eliminar(btn) {
        let fila = btn.parentNode.parentNode;
        let sample_id = fila.cells[2].textContent; // Use the correct cell index that contains the sample ID

        // Use SweetAlert to confirm the deletion
        Swal.fire({
            title: '¿Estás seguro?',
            text: "No podrás revertir esto!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, eliminarlo!',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                // If the user confirms, proceed with the deletion
                deleteSample(sample_id);
            }
        });
    }

    function deleteSample(sample_id) {
        // Logic to send a request to the server to delete the sample
        fetch(`/delete_sample/${sample_id}/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken')
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === "success") {
                // Display a success message if the deletion was successful
                Swal.fire(
                    'Eliminado!',
                    'La muestra ha sido eliminada.',
                    'success'
                ).then(() => {
                    location.reload(); // Reload the page to see the changes
                });
            } else {
                // Display an error message if there was an issue with the deletion
                Swal.fire(
                    'Error',
                    'Hubo un problema al eliminar la muestra: ' + data.message,
                    'error'
                );
            }
        })
        .catch((error) => {
            // Display an error message if the fetch operation fails
            Swal.fire(
                'Error',
                'Hubo un problema al eliminar la muestra: ' + error.message,
                'error'
            );
        });
    }

    

    function toggleEdit(btn) {
        let fila = btn.closest('tr');
        let isEditing = fila.classList.contains('editing');
        fila.classList.toggle('editing');
        let textElements = fila.querySelectorAll('span');
        let inputElements = fila.querySelectorAll('select, input[type="number"]');
        textElements.forEach(el => el.style.display = isEditing ? 'none' : 'inline');
        inputElements.forEach(el => el.style.display = isEditing ? 'inline' : 'none');
    }


    function guardar(btn) {
        // Obtener el ID de la muestra directamente del botón
        const sampleId = btn.getAttribute('data-sample-id');
    
        if (!sampleId) {
            console.error('No se pudo obtener el ID de la muestra');
            return;
        }
    
        // Obtener la fila (tr) asociada con este botón
        const fila = btn.closest('tr');
    
        // Aquí continúa tu código existente para obtener los valores de los elementos en la fila
        // Ejemplo: 
        const preservationState = fila.querySelector('.preservation-select').value;
        const freezerIdRaw = fila.querySelector('.freezer-select').value;
        const rackIdRaw = fila.querySelector('.rack-select').value;
        const boxIdRaw = fila.querySelector('.box-select').value
        const cellNumber = fila.querySelector('.cell-input').value;
    
        const freezerId = freezerIdRaw.split('-')[1];
        const rackId = rackIdRaw.split('-')[1];
        const boxId = boxIdRaw.split('-')[1];
        const data = {
            state_preservation: preservationState,
            freezer_id: parseInt(freezerId, 10), // Convierte el valor a entero
            rack_id: parseInt(rackId, 10),
            box_id: parseInt(boxId, 10),
            cell: cellNumber
        };
    
        // Realizar la llamada AJAX
    fetch(`/edit_sample/${sampleId}/`, {
        method: 'POST',
        headers: {
            'X-CSRFToken': getCookie('csrftoken'),
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            // Actualizar la interfaz de usuario con los nuevos valores
            const preservationDisplay = fila.querySelector('.preservation-display');
            const freezerDisplay = fila.querySelector('.freezer-display');
            const rackDisplay = fila.querySelector('.rack-display');
            const boxDisplay = fila.querySelector('.box-display');

            preservationDisplay.textContent = preservationState === '1' ? 'Descongelado' : 'Normal';
            freezerDisplay.textContent = freezerId;
            rackDisplay.textContent = rackId;
            boxDisplay.textContent = boxId;

            // Muestra un mensaje de éxito y recarga la página
            Swal.fire(
                '¡Guardado!',
                'Los cambios en la muestra han sido guardados.',
                'success'
            ).then(() => {
                location.reload();
            });
        } else {
            Swal.fire('Error', data.message, 'error');
        }
    })
    .catch(error => {
        console.error('Error:', error);
        Swal.fire('Error', 'Hubo un problema al guardar los cambios: ' + error.message, 'error');
    });
}
    
    function getCookie(name) {
        let value = `; ${document.cookie}`;
        let parts = value.split(`; ${name}=`);
        return parts.length === 2 ? parts.pop().split(';').shift() : null;
    }

    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.edit-btn').forEach(btn => {
            btn.addEventListener('click', function() {
                toggleEdit(this);
            });
        });
        document.querySelectorAll('.save-btn').forEach(btn => {
            btn.addEventListener('click', function() {
                guardar(this);
            });
        });
    });
</script>

    
</body>
</html>
{% endblock %}