{% extends 'base.html'%}

{% block content  %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviar Muestras</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f8f8;
            padding: 20px;
        }
        h1, h2 {
            margin-bottom: 20px;
        }
        .filter-box, .samples-selection, .samples-to-send {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            margin-bottom: 20px;
        }
        button {
            background-color: #4F709C;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: rgb(79, 100, 150);
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        table, th, td {
            border: 1px solid #ddd;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #4F709C;
            color: white;
        }
    </style>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <body>
        <h1>Enviar Muestras</h1>
        
        <!-- Formulario de Filtro -->
    <div class="filter-box">
        <form id="filter-form" method="POST" action="{% url 'shipments_select' %}">
            {% csrf_token %}
                <!-- Campos de filtro -->
            <label for="year">Año:</label>
            <input type="number" id="year" name="year">
            
            <label for="month">Mes:</label>
            <input type="number" id="month" name="month" min="1" max="12">
            
            <label for="subject_id">ID Sujeto:</label>
            <input type="text" id="subject_id" name="subject_id">
            
            <label for="volume_condition">Volumen:</label>
            <select id="volume_condition" name="volume_condition">
                <option value="greater">Mayor a</option>
                <option value="less">Menor a</option>
                <option value="equal">Igual a</option>
            </select>
            <input type="number" id="volume" name="volume" min="0"> ml
            
            <input type="submit" value="Buscar" name="filter_action">
        </form>
    </div>
    
    <!-- Tabla de Selección de Muestras -->
<!-- Tabla de Selección de Muestras -->
<form id="selection-form" method="POST" action="{% url 'shipments_select' %}">
    {% csrf_token %}
    <div class="samples-selection">
        <h2>Seleccionar Muestras</h2>
        <table id="samplesTable">
        <thead>
            <tr>
                <th>ID Sujeto</th>
                <th>Fecha</th>
                <th>Número de Muestra</th>
                <th>Volumen</th>
                <th>Estado de Preservación</th>
                <th>Freezer</th>
                <th>Rack</th>
                <th>Caja</th>
                <th>Celda</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
                {% for sample in samples %}
                {% if sample.SHIPMENT_id_shipment == 0 %}
                <tr data-sample-id="{{ sample.id_sample }}">
                    <td>{{ sample.id_subject }}</td>
                    <td>{{ sample.date_sample }}</td>
                    <td>{{ sample.id_sample }}</td>
                    <td>{{ sample.ml_volume }}</td>
                    <td class="preservation-display"> {% if sample.state_preservation %}Descongelado{% else %}Normal{% endif %} </td>
                    <td class="freezer-display"> {{ sample.freezer_name }} </td>
                    <td class="rack-display">{{ sample.rack_name }} </td>
                    <td class="box-display"> {{ sample.box_name }}  </td>
                    <td class="cell-display"> {{ sample.location_set.first.cell }} </td>
                    <td> <button onclick="addToSendTable('{{ sample.id_sample }}')">Agregar a Envíos</button> </td>
                    <td>
                        <input type="checkbox" name="selected_samples" style="display: none;" value="{{ sample.id_sample }}">
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
    </table>
</div>

    
    <!-- Dentro de tu formulario en la sección de Muestras a Enviar -->
<div class="samples-to-send">
    <h2>Muestras a Enviar</h2>
    <form id="send-form" method="POST" action="{% url 'shipments_select' %}">
        {% csrf_token %}
        <table id="sendTable">
            <thead>
                <tr>
                    <th>ID Sujeto</th>
                    <th>Fecha</th>
                    <th>Número de Muestra</th>
                    <th>Volumen</th>
                    <th>Estado de Preservación</th>
                    <th>Freezer</th>
                    <th>Rack</th>
                    <th>Caja</th>
                    <th>Celda</th>
                    <th>Acciones</th>
                    
                </tr>
            </thead>
            <tbody>
                <!-- Las filas aquí serán añadidas dinámicamente con JavaScript -->
            </tbody>
        </table>
        <input type="submit" value="Registrar Envío" name="register_action">
    </div>
    </form>
    
    <script>
        function addToSendTable(sampleId) {
            let checkbox = document.querySelector(`#samplesTable input[type="checkbox"][value="${sampleId}"]`);
            if (!checkbox) return;
    
            let row = checkbox.closest('tr');
            let newRow = row.cloneNode(true);
    
            let checkboxCell = newRow.querySelector('td:last-child');
            checkboxCell.innerHTML = 'Agregado';
    
            document.querySelector('#sendTable tbody').appendChild(newRow);
            row.remove();
        }
    
        document.addEventListener('DOMContentLoaded', function() {
            const selectionForm = document.querySelector('#selection-form');
            if (!selectionForm) return;
    
            selectionForm.addEventListener('submit', function(event) {
                let selectedSamples = Array.from(document.querySelectorAll('#sendTable tbody tr')).map(row => {
                    return row.getAttribute('data-sample-id');
                });
    
                if (selectedSamples.length === 0) {
                    event.preventDefault();
                    alert('No se han seleccionado muestras para enviar.');
                } else {
                    event.preventDefault();
                    registerShipment(selectedSamples);
                }
            });
    
            document.querySelectorAll('#samplesTable button').forEach(function(button) {
                button.onclick = function(event) {
                    event.preventDefault();
                    let sampleId = button.closest('tr').getAttribute('data-sample-id');
                    addToSendTable(sampleId);
                };
            });
        });
    
        function registerShipment(sampleIds) {
            fetch('{% url "update_samples_shipment" %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                },
                body: JSON.stringify({ sample_ids: sampleIds })
            })
            .then(response => response.json())
            .then(data => {
                if (data.message) {
                    alert('Envío registrado con éxito');
                    window.location.href = '{% url "shipments_select" %}';
                } else if (data.error) {
                    alert('Error: ' + data.error);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
        document.getElementById('send-form').addEventListener('submit', function(event) {
            event.preventDefault();
            let selectedSamples = Array.from(document.querySelectorAll('#sendTable tbody tr')).map(row => {
                return row.getAttribute('data-sample-id');
            });

            if (selectedSamples.length === 0) {
                Swal.fire('Error', 'No se han seleccionado muestras para enviar.', 'error');
            } else {
                // Construir el mensaje de confirmación con los IDs de las muestras seleccionadas
                let message = 'Muestras seleccionadas: ' + selectedSamples.join(', ') + '. ¿Está todo correcto?';

                Swal.fire({
                    title: '¿Seguro que todo está bien?',
                    text: message,
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sí, enviar',
                    cancelButtonText: 'No, revisar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Si el usuario confirma, envía el formulario
                        event.target.submit();
                    }
                });
            }
        });
    </script>
    
</body>
</html>
{% endblock %}
