{% extends 'base.html'%}

{% block content  %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviar Muestras</title>
    <style>
        
        .submit-button {
            background-color: #4F709C;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-weight: bold;
            transition: background-color 0.3s ease;
        }
        
        .submit-button:hover {
            background-color: #3A5677;
        }
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f8f8;
            padding: 20px;
        }
        h1, h2 {
            margin-bottom: 20px;
        }
        .filter-box, .samples-selection, .samples-to-send {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            margin-bottom: 20px;
        }
        button {
            background-color: #4F709C;
            color: white;
            padding: 10px 20px; /* Aumentar el padding horizontal para hacer el botón más grande */
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-weight: bold; /* Agregar negrita para mayor énfasis */
            transition: background-color 0.3s ease; /* Agregar transición al color de fondo */
        }
        button:hover {
            background-color: #3A5677; /* Cambiar color de fondo al pasar el mouse */
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        table, th, td {
            border: 1px solid #ddd;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #4F709C;
            color: white;
        }
    </style>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <h1>Enviar Muestras</h1>
    
    <!-- Formulario de Filtro -->
    <div class="filter-box">
        <form id="filter-form" method="POST" action="{% url 'shipments_select' %}">
            {% csrf_token %}
            <!-- Campos de filtro -->
            <label for="year">Año:</label>
            <input type="number" id="year" name="year">
            
            <label for="month">Mes:</label>
            <input type="number" id="month" name="month" min="1" max="12">
            
            <label for="subject_id">ID Sujeto:</label>
            <input type="text" id="subject_id" name="subject_id">
            
            <label for="volume_condition">Volumen:</label>
            <select id="volume_condition" name="volume_condition">
                <option value="greater">Mayor a</option>
                <option value="less">Menor a</option>
                <option value="equal">Igual a</option>
            </select>
            <input type="number" id="volume" name="volume" min="0"> ml
            <input type="hidden" id="selected-samples" name="selected_samples" value="">
            
            <input type="submit" value="Buscar" name="filter_action">
        </form>
    </div>
    
    <div class="samples-selection">
        <h2>Seleccionar Muestras</h2>
        <table id="samplesTable">
            <thead>
                <tr>
                    <th>ID Sujeto</th>
                    <th>Fecha</th>
                    <th>Número de Muestra</th>
                    <th>Volumen</th>
                    <th>Estado de Preservación</th>
                    <th>Freezer</th>
                    <th>Rack</th>
                    <th>Caja</th>
                    <th>Celda</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for sample in samples %}
                {% if sample.SHIPMENT_id_shipment == 0 %}
                <tr data-sample-id="{{ sample.id_sample }}" {% if sample.id_sample in selected_samples %}class="selected"{% endif %}>
                    <td>{{ sample.id_subject }}</td>
                    <td>{{ sample.date_sample }}</td>
                    <td>{{ sample.id_sample }}</td>
                    <td>{{ sample.ml_volume }}</td>
                    <td class="preservation-display"> {% if sample.state_preservation %}Descongelado{% else %}Normal{% endif %} </td>
                    <td class="freezer-display"> {{ sample.freezer_name }} </td>
                    <td class="rack-display">{{ sample.rack_name }} </td>
                    <td class="box-display"> {{ sample.box_name }}  </td>
                    <td class="cell-display"> {{ sample.location_set.first.cell }} </td>
                    <td> <button class="add-to-send" type="button">Agregar a Envíos</button> </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <!-- Dentro de tu formulario en la sección de Muestras a Enviar -->
    <div class="samples-to-send">
        <h2>Muestras a Enviar</h2>
        <form id="send-form" method="POST" action="{% url 'shipments_select' %}">
            {% csrf_token %}
            <table id="sendTable">
                <thead>
                    <tr>
                        <th>ID Sujeto</th>
                        <th>Fecha</th>
                        <th>Número de Muestra</th>
                        <th>Volumen</th>
                        <th>Estado de Preservación</th>
                        <th>Freezer</th>
                        <th>Rack</th>
                        <th>Caja</th>
                        <th>Celda</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Las filas aquí serán añadidas dinámicamente con JavaScript -->
                </tbody>
            </table>
            <input type="submit" value="Registrar Envío" name="register_action" class="submit-button">
        </form>
    </div>
    <script>
        var csrf_token = "{{ csrf_token }}";
        var selectedSamples = [];
        var allSamples = []; // Supongamos que esto se llena con tus muestras

        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('filter-form').addEventListener('input', filterSamples);
            document.getElementById('send-form').addEventListener('submit', handleSendFormSubmit);
            document.querySelector('#samplesTable').addEventListener('click', handleSamplesTableClick);
            document.querySelector('#sendTable').addEventListener('click', handleSendTableClick);
            initializeSamples(); // Llenar allSamples con datos iniciales
        });

        {% comment %} function filterSamples() {
            var year = document.getElementById('year').value;
            var month = document.getElementById('month').value;
            var subjectId = document.getElementById('subject_id').value;
            var volumeCondition = document.getElementById('volume_condition').value;
            var volume = parseFloat(document.getElementById('volume').value);
        
            var filteredSamples = allSamples.filter(function(sample) {
                var yearMatches = year ? sample.year == year : true;
                var monthMatches = month ? sample.month == month : true;
                var subjectIdMatches = subjectId ? sample.subjectId == subjectId : true;
                var volumeMatches = true;
        
                if (volume) {
                    switch (volumeCondition) {
                        case 'greater':
                            volumeMatches = sample.volume > volume;
                            break;
                        case 'less':
                            volumeMatches = sample.volume < volume;
                            break;
                        case 'equal':
                            volumeMatches = sample.volume == volume;
                            break;
                    }
                }
        
                return yearMatches && monthMatches && subjectIdMatches && volumeMatches;
            });
        
            updateSamplesTable(filteredSamples);
        }

        function updateSamplesTable(filteredSamples) {
            var tableBody = document.getElementById('samplesTable').querySelector('tbody');
            tableBody.innerHTML = ''; // Limpiar tabla actual
        
            filteredSamples.forEach(function(sample) {
                var row = document.createElement('tr');
                row.setAttribute('data-sample-id', sample.id_sample);
        
                // Crear y agregar celdas para cada propiedad de la muestra
                addCell(row, sample.id_subject);
                addCell(row, sample.date_sample);
                addCell(row, sample.id_sample);
                addCell(row, sample.ml_volume);
                addCell(row, sample.state_preservation ? 'Descongelado' : 'Normal');
                addCell(row, sample.freezer_name);
                addCell(row, sample.rack_name);
                addCell(row, sample.box_name);
                addCell(row, sample.cell); // Asume que la propiedad para la celda se llama 'cell'
        
                // Crear y agregar celda para las acciones
                var cellActions = document.createElement('td');
                var addButton = document.createElement('button');
                addButton.classList.add('add-to-send');
                addButton.textContent = 'Agregar a Envíos';
                addButton.type = 'button';
                cellActions.appendChild(addButton);
                row.appendChild(cellActions);
        
                tableBody.appendChild(row);
            });
        }
        
        function addCell(row, text) {
            var cell = document.createElement('td');
            cell.textContent = text;
            row.appendChild(cell);
        } {% endcomment %}

        function handleSendFormSubmit(event) {
            event.preventDefault();

            if (selectedSamples.length === 0) {
                Swal.fire('Error', 'No se han seleccionado muestras para enviar.', 'error');
                return;
            }

            Swal.fire({
                title: '¿Seguro que todo está bien?',
                text: 'Muestras seleccionadas: ' + selectedSamples.join(', ') + '. ¿Está todo correcto?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, enviar',
                cancelButtonText: 'No, revisar'
            }).then((result) => {
                if (result.isConfirmed) {
                    submitSendForm();
                }
            });
        }


        function submitSendForm() {
            fetch('/update-shipment/', {
                method: 'POST',
                body: JSON.stringify({ sample_ids: selectedSamples }),
                headers: {
                    'X-CSRFToken': csrf_token,
                    'Content-Type': 'application/json',
                },
            })
            .then(response => response.json())
            .then(data => {
                if (data.message) {
                    Swal.fire('Éxito', data.message, 'success')
                    .then(() => {
                        window.location.href = "{% url 'shipments_report' %}";
                    });
                } else {
                    Swal.fire('Error', data.error, 'error');
                }
            })
            .catch(error => {
                console.error('Error en la solicitud:', error);
                Swal.fire('Error', 'Ha ocurrido un error al enviar las muestras.', 'error');
            });
        }
    
        function handleSamplesTableClick(event) {
            if (event.target.matches('.add-to-send')) {
                let sampleId = event.target.closest('tr').getAttribute('data-sample-id');
                moveRow(sampleId, 'sendTable', 'Volver a Subir', 'return-to-selection');
                selectedSamples.push(sampleId);
            }
        }
    
        function handleSendTableClick(event) {
            if (event.target.matches('.return-to-selection')) {
                let sampleId = event.target.closest('tr').getAttribute('data-sample-id');
                moveRow(sampleId, 'samplesTable', 'Agregar a Envíos', 'add-to-send');
                selectedSamples = selectedSamples.filter(id => id !== sampleId);
            }
        }
    
        function moveRow(sampleId, targetTableId, buttonText, buttonClass) {
            let sourceRow = document.querySelector(`tr[data-sample-id="${sampleId}"]`);
            if (!sourceRow) return;
        
            let newRow = sourceRow.cloneNode(true);
            let button = newRow.querySelector('button');
            button.textContent = buttonText;
            button.className = buttonClass;
        
            document.getElementById(targetTableId).querySelector('tbody').appendChild(newRow);
            sourceRow.remove();
        }
    </script>
</body>
</html>
{% endblock %}

