{% extends 'base.html'%}

{% block content  %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f8f8f8;
        padding: 20px;
    }
    h1, h2 {
        margin-bottom: 20px;
    }
    .filter-box {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        margin-bottom: 20px;
        display: flex;
        justify-content: flex-start; 
        align-items: center; 
    }
    form {
        max-width: 50%; 
        display: flex;
        flex-wrap: wrap; 
        align-items: center;
        margin-left: 500px; 
    }
    .form-group {
        margin-bottom: 10px; 
        margin-right: 20px;
        display: flex;
        align-items: center; 
        flex: 1 1 200px; 
    }
    label {
        margin-bottom: 0; 
        margin-right: 10px; 
    }
    input, select {
        width: 200px; 
        padding: 8px;
        box-sizing: border-box;
    }
    button {
        background-color: #4F709C;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 20px; 
    }
    button:hover {
        background-color: rgb(79, 100, 150);
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }
    table, th, td {
        border: 1px solid #ddd;
    }
    th, td {
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #4F709C;
        color: white;
    }
    th.sortable {
        cursor: pointer;
    }
    
    th.sortable:after {
        content: ' \21D5'; /* Entidad HTML para flechas arriba y abajo */
        font-size: 0.8em;
        margin-left: 5px;
    }

    th.sortable.th-sort-asc:after {
        content: ' \2191'; /* Flecha arriba */
    }

    th.sortable.th-sort-desc:after {
        content: ' \2193'; /* Flecha abajo */
    }
        
</style>
<h1>Trazabilidad de Muestras</h1>

<div class="section">
    <div class="filter-box">
        <h2>Criterios de Búsqueda</h2>
        <form id="search-form">
            <div class="form-group">
                <label for="subject_id">Usuario:</label>
                <input type="text" id="subject_id" name="subject_id">
            </div>
            <div class="form-group">
                <label for="sample_date">Fecha de Obtención:</label>
                <input type="date" id="sample_date" name="sample_date">
            </div>
            <div class="form-group">
                <label for="sample_number">Número de Muestra:</label>
                <input type="text" id="sample_number" name="sample_number">
            </div>
            <button type="button" onclick="submitForm()">Ver Historial</button>
        </form>
    </div>
</div>

<div class="section">
    <div class="samples-list">
        <h2>Lista de Eventos</h2>
        <table id="sortableTable">
            <!-- Encabezados de tabla aquí -->
            <thead>
                <tr>
                    <th class="sortable">Usuario</th>
                    <th class="sortable">Fecha</th>
                    <th class="sortable">Acción</th>
                    <th class="sortable">Detalle</th>
                </tr>
            </thead>
            <tbody>
                <!-- Datos de muestra de eventos aquí -->
                {% for sample_event in sample_events %}
                    <tr>
                        <td>{{ sample_event.event_user }}</td>
                        <td>{{ sample_event.event_date }}</td>
                        <td>{{ sample_event.action }}</td>
                        <td>{{ sample_event.action_information }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    function submitForm() {
        const form = document.getElementById('search-form');
        form.submit();
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.34.8/js/jquery.tablesorter.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var table = document.getElementById('sortableTable'); // Cambiar el ID aquí
        var headers = table.querySelectorAll('th.sortable');
        headers.forEach(function(header, index) {
            header.addEventListener('click', function() {
                sortTableByColumn(table, index);
            });
        });
    });

    function sortTableByColumn(table, column) {
        var rows = Array.from(table.tBodies[0].rows);
        var header = table.querySelectorAll('th')[column];
        var isAscending = header.classList.contains('th-sort-asc');
        var newIsAscending = !isAscending;

        rows.sort(function(rowA, rowB) {
            var cellA = rowA.cells[column].textContent.trim();
            var cellB = rowB.cells[column].textContent.trim();

            if (!isNaN(parseFloat(cellA)) && !isNaN(parseFloat(cellB))) {
                return newIsAscending ? parseFloat(cellA) - parseFloat(cellB) : parseFloat(cellB) - parseFloat(cellA);
            } else {
                return newIsAscending ? cellA.localeCompare(cellB) : cellB.localeCompare(cellA);
            }
        });

        rows.forEach(function(row) {
            table.tBodies[0].appendChild(row);
        });

        table.querySelectorAll('th').forEach(th => th.classList.remove('th-sort-asc', 'th-sort-desc'));
        header.classList.toggle('th-sort-asc', newIsAscending);
        header.classList.toggle('th-sort-desc', !newIsAscending);
    }
</script>

{% endblock %}