{% extends 'base.html'%}

{% block content  %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f8f8f8;
        padding: 20px;
    }
    h1, h2 {
        margin-bottom: 20px;
    }
    .filter-box {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        margin-bottom: 20px;
        display: flex;
        justify-content: flex-start; 
        align-items: center; 
    }
    form {
        max-width: 50%; 
        display: flex;
        flex-wrap: wrap; 
        align-items: center;
        margin-left: 500px; 
    }
    .form-group {
        margin-bottom: 10px; 
        margin-right: 20px;
        display: flex;
        align-items: center; 
        flex: 1 1 200px; 
    }
    label {
        margin-bottom: 0; 
        margin-right: 10px; 
    }
    input, select {
        width: 200px; 
        padding: 8px;
        box-sizing: border-box;
    }
    button {
        background-color: #4F709C;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 20px; 
    }
    button:hover {
        background-color: rgb(79, 100, 150);
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }
    table, th, td {
        border: 1px solid #ddd;
    }
    th, td {
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #4F709C;
        color: white;
    }
</style>
<h1>Trazabilidad de Muestras</h1>

<div class="section">
    <div class="filter-box">
        <h2>Criterios de Búsqueda</h2>
        <form id="search-form">
            <div class="form-group">
                <label for="subject_id">usuario:</label>
                <input type="text" id="subject_id" name="subject_id">
            </div>
            <div class="form-group">
                <label for="sample_date">Fecha de Obtención:</label>
                <input type="date" id="sample_date" name="sample_date">
            </div>
            <div class="form-group">
                <label for="sample_number">Número de Muestra:</label>
                <input type="text" id="sample_number" name="sample_number">
            </div>
            <button type="button" onclick="submitForm()">Ver Historial</button>
        </form>
    </div>
</div>

<div class="section">
    <div class="samples-list">
        <h2>Lista de Eventos</h2>
        <table id="sample-events-table">
            <!-- Encabezados de tabla aquí -->
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Fecha</th>
                    <th>Acción</th>
                    <th>Detalle</th>
                </tr>
            </thead>
            <tbody>
                <!-- Datos de muestra de eventos aquí -->
                {% for sample_event in sample_events %}
                    <tr>
                        <td>{{ sample_event.event_user }}</td>
                        <td>{{ sample_event.event_date }}</td>
                        <td>{{ sample_event.action }}</td>
                        <td>{{ sample_event.action_information }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    function submitForm() {
        const form = document.getElementById('search-form');
        form.submit();
    }
</script>
{% endblock %}